@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  background: url('https://res.cloudinary.com/ddxagvyul/image/upload/v1667308604/project/bg_um7abc.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  min-height: 100vh;
  position: relative;
}

.container {
  display: flex;
  padding: 130px 50px;
  height: 100%;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: #000;
  opacity: 0.45;
  z-index: -1;
  min-height: 100%;
}

/* --- left section --- */

.thumbnail,
.bio {
  width: 50%;
}

.thumbnail .card {
  border: 5px solid rgba(255, 255, 255, 0.7);
  padding: 50px 10px;
  text-align: center;
  margin-right: 130px;
  margin-left: 100px;
}

.thumbnail img {
  width: 120px;
  border-radius: 50%;
}

.thumbnail h1 {
  margin: 15px 0 5px 0;
  letter-spacing: 3px;
  font-size: 36px;
}

.thumbnail p {
  color: #f9cc00;
  font-size: 16px;
  letter-spacing: 1px;
}

/* --- right section --- */

.bio .summary {
  border-bottom: 2px dashed #04b6a1;
  padding-bottom: 20px;
  padding-right: 100px;
}

.summary h2 {
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 400;
}

.summary p {
  line-height: 1.8;
  font-size: 18px;
}

.contact {
  margin-top: 20px;
}

table th {
  text-align: left;
}

table th,
table td {
  padding: 4px 0;
  font-size: 18px;
}

table .separator {
  padding-right: 10px;
  padding-left: 30px;
}


/* -- responsive breakpoint for smaller screen -- */

@media only screen and (max-width: 992px) {
  .thumbnail .card {
    margin-right: 50px;
    margin-left: 30px;
  }

  .bio .summary {
    padding-right: 50px;
  }
}

@media only screen and (max-width: 700px) {
  .container {
    padding: 50px 30px;
    flex-direction: column;
  }

  .thumbnail,
  .bio {
    width: 100%;
  }

  .thumbnail .card {
    margin: 0 auto;
    max-width: 300px;
  }

  .bio .summary {
    padding-right: 0;
  }

  .summary h2 {
    margin: 30px 0 10px;
    font-size: 28px;
  }

  table .separator {
    padding-right: 5px;
    padding-left: 10px;
  }
}